.main_wrapper{
	position: relative;
	display: flex;
	justify-content: center;
}

* {
	padding: 0;
}
body{
	background-color:#f7f9f9;
	background-image: linear-gradient(150deg,rgb(243, 168, 205),rgb(149, 85, 168), rgb(152, 161, 64));
	min-height:100vh;

}
	#menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	margin-top: 10px;


}
#menu img{
	width: 215px;
	margin-left: 30px;

}
#menu ul{
	margin-right: 75px;
}
#menu ul li{
	list-style: none;
	display: inline;

}
#menu ul li a{
	display: inline-block;
	font-family:Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	background-color: inherit;
	padding: 10px 20px;
	line-height: 80px;
	font-weight: bold;
	color: #000;
	transition: color 0.27s linear;
}

#menu ul li a:hover{
	color: coral;


}
#content {
	position: relative;
	top: 9%;
	left: 8%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 50px 0 0 20px;


}
.container {
	width: 45%;
	position: relative;
	display: flex;
	justify-content: center;
	border-radius: 28px;
	box-shadow: 0 0 30px rgb(0, 0, 0);
}
.text {
	margin: 0%;
	font-family: sans-serif;
	position: relative;
	width: 33vw;
	height: auto;
	text-align: center;
 	background: #81c2cfad;
	border-radius: 28px;
	justify-content: center;
	height: 390px;
}

.image1 {
	filter: brightness(30%);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: none;
	top: -10%;
	border-radius: 18px;
	box-shadow: 0 0 30px rgb(228, 140, 181);
	}
.txt h1{
	color: #289787;
	font-size: 60px;
	line-height: 1.3em;
}
.text p{
	color: #000000;
	font-size:14px;
	line-height: 2em;
}

.button{
	height: 10px;
	display:inline-block;
	margin-top: 20px;
}

.button:hover{
	transform: scale(1.1, 1.1);
	box-shadow: 0px 0px 30px rgb(102, 210, 247);
}

h1{
	text-transform: uppercase;
	color: #0f123a;
}
a{
	text-decoration: none;
	color: rgb(211, 169, 205);
}

@media only screen and (min-width: 828px){
	body{
		min-height:0vh;
  }
}
